- name: Install common system packages and dependencies
  hosts: spark_all
  become: yes
  vars:
    private_ips:
      spark-master: "10.0.1.3"
      spark-worker-0: "10.0.1.2"
      spark-worker-1: "10.0.1.5"
      spark-edge: "10.0.1.4"

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install basic system utilities
      apt:
        name:
          - wget
          - curl
          - python3
          - python3-pip
          - net-tools
          - telnet
          - tar
          - ssh
          - rsync
        state: present

    - name: Configure /etc/hosts
      blockinfile:
        path: /etc/hosts
        block: |
          10.0.1.3 spark-master
          10.0.1.2 spark-worker-1
          10.0.1.5 spark-worker-2
          10.0.1.4 spark-edge
        marker: "# {mark} ANSIBLE MANAGED SPARK CLUSTER"

    - name: Create spark group and user
      group:
        name: spark
        state: present

    - name: Create spark user
      user:
        name: spark
        group: spark
        shell: /bin/bash
        home: "/home/spark"
        create_home: yes

    - name: Disable firewall temporarily (for testing)
      ufw:
        state: disabled
